
@{
    ViewData["Title"] = "Buy";
}
<style>
    body {
        background-color: peachpuff;
    }
</style>
<img src="https://rlv.zcache.com/thank_you_for_your_order_business_stickers-ra084747285bc45a4ab808c53a82af461_0ugmp_8byvr_540.jpg" / width="400",height="250">
<h1>Hope you enjoyed our Pizza!! &#127829;</h1>

