@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: peachpuff;
    }
</style>
<div class="text-center">
    <h1 class="display-4">&#127829; ... Welcome!! ... &#127829;</h1>
    <h2>*..Joe's Pizza..*</h2>
    <img src="https://wallpaperaccess.com/full/462773.jpg" / width="1200",height="100">
</div>
