@{
    ViewData["Title"] = "Privacy Policy!!";
}
<h1>@ViewData["Title"] </h1>
<style>
    body {
        background-color: peachpuff;
    }
</style>
<h2></h2>
<h2>joe's privacy policy..! &#x1F355;</h2>
